*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   text-decoration: none;
}



.nav{
   max-width: 950px;
   height: 50px;
   margin: auto;
   display: flex;
   justify-content: end;
   align-items: center;
}

nav {
   width: 200px;
}

nav ul{
   display: flex;
   justify-content: space-between;
   font-weight: bold;
}

nav ul li{
   list-style: none;
}

.container .fix{
   max-width: 950px;
   margin: auto;
}

.container .hero{
   display: flex;
   justify-content: space-between;
   height: 70vh;
   align-items: center;
}

.container .hero_name{
   display: flex;
   justify-content: space-between;
   height: 220px;
   flex-direction: column;
}

.container .hero_name p{
   width: 500px;
   line-height: 1.5rem;
}

.container .hero_name h1{
   font-weight: bold;
}

.container .hero_name .hero_btn a{
   position: absolute;
   border-radius: 5px;
   text-decoration-line: none;
   color: #ffff;
   text-align: center;
   background-color: #FF6464;
   padding: 12px 16px;
}

.container .hero .hero_img{
   overflow: hidden;
   width: 250px;
   height: 250px;
   border-radius: 50%;
}

.container .hero .hero_img img{
   width: 250px;
}

.post{
   background-color: #00a8db4f;
}

.recent_post{
   padding: 50px 0;
}

.recent_header{
   display: flex;
   justify-content: space-between;
}

.post_item{
   margin-top: 20px;
   display: flex;
   gap: 15px;
   justify-content: space-between;
}

.item1{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   max-width: 450px;
   height: 250px;
   padding: 15px 20px;
   background-color: #ffff;
   border-radius: 15px;
}

.featured_works{
   padding: 50px 0;
}

.featured_item{
   display: flex;
   align-items: center;
   margin-top: 20px;
   gap: 20px;
   justify-content: space-around;
}

.featured_item img {
   max-width: 300px;
   border-radius: 15px;
}

.featured_text{
   display: flex;
   flex-direction: column;
   height: 200px;
   justify-content: space-between;
   font-size: 1.2rem;
}

.text1 {
   display: flex;
   width: 200px;
   align-items: center;
   justify-content: space-between;
}

.date{
   background-color: #142850;
   color: white;
   font-weight: bolder;
   padding: 4px 6px;
   border-radius: 100px;
}

.type{
   font-weight: bold;
   color: #8695A4;
}

footer{
   display: flex;
   flex-direction: column;
   height: 115px;
   justify-content: center;
   align-items: center;
   color: #8695A4;
   border-top: 2px solid #8695a479;
}

footer .icon{
   width: 200px;
   display: flex;
   margin-bottom: 10px;
   justify-content: space-between;
}

@media only screen and (max-width: 450px) {
   .nav{
      max-width: 600px;
      justify-content: center;
      margin: 0;
   }

   .container .hero{
      margin-top: 50px;
      height: 80vh;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 100px;
      flex-direction: column-reverse;
   }

   .container .hero_name p{
      max-width: 345px;
      background-color: #142850;
   }
   .container .hero .hero_img{
      width: 200px;
      height: 200px;
   }
   
   .container .hero .hero_img img{
      width: 200px;
   }
   
   .container .hero_name{
      align-items: center;
   }
   
   .container .hero_name p{
      width: 450px;
      text-align: center;
   }
   
   .container .hero_name .hero_btn a{
      position: relative;
   }

   .fix{
      width: 100%;
   }
      
   .post{
      background-color: #00a8db4f;
   }
   
   .recent_post{
      padding: 50px 0;
   }
   
   .recent_header{
      position: absolute;
      display: flex;
      margin-top: -30px;
      justify-content: center;
   }
   
   .post_item{
      flex-wrap: wrap;
      justify-content: center;
   }
   
   .item1{
      max-width: 350px;
   }
   
   .recent_header h1{
      margin-left: 25px;
   }

   .recent_header a{
      position: relative;
      margin-top: 635px;
   }

   .featured_works{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   
   .featured_item{
      flex-direction: column;
      max-width: 380px;
   }
   
   .featured_item img {
      max-width: 300px;
      border-radius: 15px;
   }
   
   .featured_text{
      border: 1px solid rgb(204, 204, 204);
      border-radius: 18px;
      padding: 10px;
     justify-content: space-around;
     font-size: 14px;
     height: max-content;
   }
}